
.search-form {
    margin-bottom: 20px;
    margin-left: 3px;
}

button {
    margin-left: 10px;
    color: rgb(255, 255, 110);
    background-color:  rgb(65, 92, 119);
    border-radius: 0px; 
    padding: 1px 5px; 
    font-size: 16px;
    cursor: pointer;
}